/* styles/TranslateDocument.module.css */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.fileInput {
    margin: 20px auto;
    display: block;
}

.translateButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.translateButton:hover {
    background-color: #0056b3;
}

.documentContainer {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 200px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
    font-size: 16px;
}

.swapButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.swapButton:hover {
    background-color: #0056b3;
}